/.idea
/.ipynb_checkpoints
/__pycache__
/venv
/web_pages
/texts/.ipynb_checkpoints
/texts/__pycache__
/texts/echo/.ipynb_checkpoints
/texts/echo/__pycache__
/texts/gosduma/.ipynb_checkpoints
/texts/gosduma/__pycache__
/texts/izvestia/.ipynb_checkpoints
/texts/izvestia/__pycache__
/texts/kommersant/.ipynb_checkpoints
/texts/kommersant/__pycache__
/texts/ng/.ipynb_checkpoints
/texts/ng/__pycache__
/texts/president/.ipynb_checkpoints
/texts/president/__pycache__
/texts/vedomosti/.ipynb_checkpoints
/texts/vedomosti/__pycache__/
/texts/vzglyad/.ipynb_checkpoints
/texts/vzglyad/__pycache__
/texts/zavtra/.ipynb_checkpoints
/texts/zavtra/__pycache__
diplom.db
